@use '@angular/material' as mat;

:host {
  min-height: 100svh;
  display: flex;
  flex-direction: column;

  .top-bar {
    @include mat.toolbar-overrides((
      container-background-color: var(--mat-sys-tertiary-container),
    ));
  }

  .bottom-bar {
    margin-top: auto;
  }
}
